<div class="header-cont">
	<div class="header-logo">
		<a href="#" class="header-logo__link">layout</a>
	</div>
	<nav class="header-nav">
		<div class="menu-open">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<ul class="nav-list">
			<li class="nav-list__item">
				<a href="#" class="nav-list__link">html</a>
			</li>
			<li class="nav-list__item">
				<a href="#" class="nav-list__link">css</a>
			</li>
			<li class="nav-list__item">
				<a href="#" class="nav-list__link">javascript</a>
			</li>
		</ul>
	</nav>
	<div class="header-enter">
		<a href="#" class="header-enter__link btn-green"><span>Enter</span></a>
	</div>
</div>